body {
    text-align: center;
    color: var(--blueVar);
    font-family: "Press Start 2P", system-ui;
}

main {
    padding-top: 200px;
}

section {
    background-color: var(--greenVar);
    display: inline-block;
    padding: 50px;
    opacity: 90%;
}

h1 {
    margin-bottom: 40px;
}

div {
    margin-top: 20px;
}