* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    height: 600px;
    width: 900px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: row;
}


canvas {
    /*background-image: url(Bilder/arenaBackground.png);
    background-size: cover;*/

    background-color: grey;
}

#popup {
    background-color: black;
    color: white;
    opacity: 0%;

    position: absolute;
    top: 0;

    transition: ease-in .5s;
}

#winscreen {
    font-family: "Amita", serif;
    color: white;
    font-size: 50px;
    z-index: -1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    height: 100vh;
    width: 100%;
    border-radius: 30px;
    opacity: 0%;
    transition: ease-in 2s;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#winscreen div{
    margin: 50px;
}

/*alle skin bildene*/
.none {
    display: none;
}

