main {
    height: 500px;
    width: 1000px;
    background-color: cyan;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}


canvas {
    background-image: url(Bilder/arenaBackground.png);
    background-size: cover;
}