main {
    height: 500px;
    width: 900px;
    background-color: cyan;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: row;
}


canvas {
    /*background-image: url(Bilder/arenaBackground.png);
    background-size: cover;*/

    background-color: grey;
}

#popup {
    background-color: black;
    color: white;
    opacity: 0%;

    position: absolute;
    top: 0;

    transition: ease-in .5s;
}
