@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
/*font-family: "Press Start 2P", system-ui; */

:root {
    --mainGreen: rgb(21 113 69);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*main*/

main {
    height: auto;
    width: 100%;
    padding-top: 120px;

    display: grid;
    grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr;
    gap: 400px;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;

    grid-column: 1/2;
    grid-row: 1/2;
}


/*hero*/
#hero img {
    height: 300px;
}

#heroImg {
    display: flex;

    align-items: center;
    justify-content: center;
}

section{
    background-color: white;
    height: auto;
    padding: 20px;
}

footer {
    background-color: aquamarine;
    height: 10vh;

}