@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
/*font-family: "Press Start 2P", system-ui; */

:root {
    --mainGreen: rgb(21 113 69);
    --blueVar: rgb(16 43 63);
    --yellowVar: rgb(230 249 175);
    --greenVar: rgb(201 228 202);
    --expDiv: rgb(152 210 235);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


/*Header*/
header {
    height: 80px;
    width: 100%;
    background-color: var(--mainGreen);
    color: white;
    font-size: 14px;
    font-family: "Press Start 2P", system-ui;
    z-index: 1111;
    position: fixed;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

#headerDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
    flex-wrap: wrap;
}

header a {
    color: white;
}

/*body*/
body {
    background-image: url(../Bilder/arenaBackground.png);
    background-size: cover;
    background-attachment: fixed;
}